body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline;
}

#code-editor {
    font-family: var(--font-mono);
    font-size: x-large;
}

.sql-code,
.table-name {
    font-family: var(--font-mono);
    white-space: pre;
}

.sql-result {
    font-family: var(--font-mono);
}

#output-panel .sql-code:hover,
#table-panel a:hover {
    color: white;
    background: var(--color-primary);
    filter: var(--hl-filter);
}

#output-panel li {
    margin-bottom: 2em;
    list-style-position: inside;
}

/*
SELECT OUTPUT FORMATING.
*/
/* SELECT OUTPUT Table */
.sql-result table {
    border-collapse: collapse;
}

.sql-result table th,
.sql-result table td {
    text-align: center;
    border: var(--table-border-style);
}

div.sql-result table td:first-child,
div.sql-result table th {
    color: white;
    background-color: var(--color-primary);
}

div.sql-result table.table-head {
    background: white;
}

div.sql-result table th:first-child {
    background-color: white;
    border-style: none;
}

span.sql-code {
    display: inline-block;
}

span.sql-code.multiline {
    vertical-align: middle;
}

span.sql-result::before {
    content: "  OK ✓";
    color: var(--color-primary);
    font-weight: bolder;
}

#toolbar-panel #page-title {
    margin: 0 0 1vh;
    font-family: var(--font-mono);
    text-align: center;
}

#left-panel {
    border-right: var(--table-border-style);
}

#output-panel {
    border-top: var(--table-border-style);
}

.action-button {
    padding: 0;
    height: 2em;
    box-sizing: content-box;
    margin-right: 0.5em;
    border: 0 none black;
    background-color: transparent;
}

#db-selector,
#toolbar-panel input,
.action-button img {
    border: 1pt solid var(--color-primary);
    border-radius: 5pt;
    color: var(--color-primary);
    background-color: var(--color-widget-bg);
}

#db-selector:hover,
.action-button img:hover,
#toolbar-panel a:hover,
#toolbar-panel input:hover {
    filter: var(--hl-filter);
}

button#stop-button:disabled,
button#stop-button[disabled] {
    animation: initial;
}

button#stop-button,
button#stop-button {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

button.action-button:disabled img,
button.action-button[disabled] img {
    filter: var(--disabled-filter);
}

#toolbar-panel input {
    margin-right: 0.5em;
    align-self: stretch;
}

.action-button img {
    width: auto;
    height: 2em;
    box-sizing: border-box;
    padding: 0.25em;
    margin: 0;
}

#table-panel ul {
    list-style-type: square;
}

#table-panel ul>li::marker {
    color: var(--color-primary);
}

/* */
#toolbar-panel #save-session-button {
    background-color: var(--color-important);
    border-radius: 5pt;

}

#toolbar-panel #save-session-button.unsaved img {
    background-color: transparent;
    filter: hue-rotate(180deg);
    border-style: none;
}

#toolbar-panel #save-session-button.unsaved img:hover {
    filter: hue-rotate(180deg) var(--hl-filter);
}